.stone-page{

min-height:100vh;

background:#f3f3f3;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

direction:rtl;

}



.stone-card{

background:white;

width:450px;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px #bbb;

}



.stone-card h1{

text-align:center;

color:#1B5E20;

}



.stone-card h2{

text-align:center;

}



.stone-card h3{

text-align:center;

}



.stone-card p{

font-size:18px;

}



.stone-item{

background:#fafafa;

padding:10px;

margin-top:10px;

border-radius:10px;

}



.loading{

font-size:25px;

text-align:center;

margin-top:100px;

}